@import "tailwindcss";

@font-face{
    font-family: "pricedown";
    src:url("/fonts/pricedown.otf");
}
@font-face {
  font-family: 'HelveticaNowDisplay';
  src: url('/fonts/HelveticaNowDisplay-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  src: url('/fonts/HelveticaNowDisplay-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  src: url('/fonts/HelveticaNowDisplay-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  src: url('/fonts/HelveticaNowDisplay-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}


html,body, #root{
    width:100%;
    height:100%;
    background-color: black;
}
